.blocks {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block {
  opacity: 0;
  transition: all ease-in .5s;
  transform: translateX(-15%);
}

.slideIn {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .blocks {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .blocks {
    flex-direction: column;
  }
}

.block {
  max-width: 300px;
}
