.blocks {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
}

.active {
  opacity: 1;
  transform: translateX(-50px);
  animation: fadeInTranslateX .8s ease-in-out forwards;
}

@keyframes fadeInTranslateX {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .blocks {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .blocks {
    flex-direction: column;
  }
}

.block {
  max-width: 300px;
}
