.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 60px;
  margin: 0 auto;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .cards {
    padding-bottom: 0;
  }
}

.h2 {
  align-items: center;
  margin-bottom: 63px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
