.cardsBlock {
  display: inline-block;
}

.cardsBlock {
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 63px 25px 20px 23px;
  text-align: center;
}

.cardColumn2 {
  padding-top: 50px;
}

/* .cardColumn1{
  display: inline-block;
  padding-top: 50px;
}
.cardColumn2{
  display: inline-block;
  margin-bottom: 50px;
}
.cardColumn3{
  display: inline-block;
}
.cardColumn4{
  display: inline-block;
} */
