.cardsBlock {
  display: flex;
  margin-top: 100px;
}

.cardColumn {
  box-sizing: border-box;
  width: 50%;
  padding-top: 60px;
}

.card {
  position: relative;
  align-items: center;
  text-align: center;
}
