/* stylelint-disable selector-pseudo-class-no-unknown */
:global(.swiper).slider {
  text-align: center;
}

.image {
  border-radius: 15px;
}

.title {
  margin: 40px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  color: #353432;
  text-transform: capitalize;
}

.description,
.body,
.publishedAt {
  font-size: 16px;
  line-height: 22px;
  color: #353432;
  text-align: left;
}

.publishedAt {
  color: #35343265;
}

.buttons {
  height: 0;
}

.prev,
.next {
  display: inline-flex;
  width: fit-content;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #353432;
  border-radius: 50%;
}

.prev {
  position: relative;
  z-index: 2;
  transform: translate(-350px, -650px);
}

.next {
  position: relative;
  z-index: 2;
  transform: translate(350px, -650px);
}

.prev img,
.next img {
  display: block;
}

.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  border-color: #ae7f51;
}

.prev img {
  transform: rotate(180deg);
}
